/* -------------隐藏图片名称-------------- */
.vp-doc figure figcaption {
  display: none;
}


/* .vp-doc-footer{
    margin-top: 32px !important;
}

.vp-comment {
    margin-top: 32px !important;
}


@media (min-width: 960px) {
  .content {
    padding: 0 32px 32px !important;
  }
} */


/* @media (min-width: 960px) {
    .vp-doc-container[data-v-b3005fe4] {
        padding: 16px 32px 0;
    }
} */

.vp-comment {
    margin-top: 80px;
    position: relative;
}

.vp-comment::before {
    content: "评论区";
    position: absolute;
    top: -40px; /* 调整这个值使文字出现在合适的位置 */
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* 文字颜色 */
}