mark {
  --vp-mark-color: 140, 204, 213;
  display: inline;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background-image: linear-gradient(
    to top,
    rgba(var(--vp-mark-color), 0.9) 0%,
    rgba(var(--vp-mark-color), 0.5) 50%,
    rgba(var(--vp-mark-color), 0.2) 85%,
    rgba(var(--vp-mark-color), 0.1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 1.5em; /* 限制背景高度为单行高度 */
  background-position: 0 0.1em; /* 微调垂直位置 */
  border-bottom: 2px solid rgba(var(--vp-mark-color), 0.9);
  border-radius: 2px;
  color: inherit;
  line-height: 1.6;
}

/* 颜色变体 */
mark.info      { --vp-mark-color: 153, 153, 153; }
mark.tip       { --vp-mark-color: 57, 255, 20; }
mark.warning   { --vp-mark-color: 255, 183, 3; }
mark.danger    { --vp-mark-color: 230, 57, 70; }
mark.note      { --vp-mark-color: 255, 255, 0; }
mark.important { --vp-mark-color: 163, 113, 247; }
mark.caution   { --vp-mark-color: 242, 138, 178; }


/* 键盘文本样式 */
:root {
    /* 亮色模式 */
    --kbd-text-color: #333;        /* 按键文字颜色 */
    --kbd-bg-color: #f1f3f5;       /* 按键背景 */
    --kbd-wrap-color: #ccc;        /* 边框和阴影 */
}

[data-theme="dark"] {
    /* 暗色模式 */
    --kbd-text-color: #f8f9fa;
    --kbd-bg-color: #2b2b2b;
    --kbd-wrap-color: #555;
}

kbd {
    font-family: Lato, sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3rem;
    min-width: 1.75rem;
    text-align: center;
    margin: 0 .3rem;

    padding: .1875rem .375rem;
    padding-top: .1rem;
    font-size: .875em;

    color: var(--kbd-text-color);
    background-color: var(--kbd-bg-color);

    border-radius: 6px;
    border: solid 1px var(--kbd-wrap-color);
    box-shadow: inset 0 -2px 0 var(--kbd-wrap-color);
}