/* ------------- PWA 模式状态栏优化 -------------- */
/* 适配 iOS 安全区域（防止状态栏遮挡） */
body {
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.vp-nav.fixed {
  position: fixed;
  top: var(--vp-safe-area-top);
  box-sizing: content-box;
}

.DocSearch-Modal {
  margin-top: env(safe-area-inset-top);
}