/* 隐藏输入框头像 */
.tk-submit .tk-avatar {
    display: none;
}

/* 对齐评论预览框布局 */
.tk-preview-container {
    margin-left: 0 !important;
}

/* 对齐评论框下方操作按钮栏 */
.tk-row.actions {
    margin-left: 0 !important;
}

/* 隐藏评论框底部的 Powered By Twikoo */
/* .tk-footer {
    display: none;
} */

/* 增加"评论区"标题 */
:root {
  /* 亮色主题 */
  --blockquote-border-color: rgba(200, 200, 200, 0.5);
  --comment-title-color: #333;
}

[data-theme="dark"] {
  /* 暗黑主题 */
  --blockquote-border-color: rgba(150, 150, 150, 0.5);
  --comment-title-color: #ccc; /* 暗黑模式下使用浅灰色文字 */
}

/* 评论区样式 */
.vp-comment {
    margin-top: 80px;
    position: relative;
}

.vp-comment::before {
    content: "评论区";
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--comment-title-color); /* 使用CSS变量控制颜色 */
}