/* 隐藏输入框头像 */
.tk-submit .tk-avatar {
    display: none;
}

/* 对齐评论预览框布局 */
.tk-preview-container {
    margin-left: 0 !important;
}

/* 对齐评论框下方操作按钮栏 */
.tk-row.actions {
    margin-left: 0 !important;
}

/* 隐藏评论框底部的 Powered By Twikoo */
/* .tk-footer {
    display: none;
} */

/* 增加"评论区"标题 */
.vp-comment {
    margin-top: 80px;
    position: relative;
}

.vp-comment::before {
    content: "评论区";
    position: absolute;
    top: -40px; /* 调整这个值使文字出现在合适的位置 */
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* 文字颜色 */
}